@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexhei.css');
*{
    font-family: 'Nunito','cwTeXHei', sans-serif;
    -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-rendering: optimizelegibility;
    box-sizing: border-box;
    /* margin: .5em 0;*/
}

body {
  margin: 0;
  padding: 0;
}


/* fix navbar margin top */
div#root{
    margin: 0;
}

.datacard > p > span:nth-child(1){
    font-weight: bold;
}

div#mainNav {
    border-left: none;
    border-right: none;
    border-top: none;
}

div.noborder{
    border: none;
    padding:0;
}

div.noborder > h4{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: bold;
}

div#slider{
    margin-left: 5rem;
    margin-right: 5rem;
}




div.noLRborder{
    border-left-style: none;
    border-right-style: none;
}


div.sliderBtn{
    text-align: center;
    
}

div.sliderBtn .btn{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

div#footer{
    margin-bottom: 0;
    margin-top: 7%;
    border-top-style:solid;
    border-top-color: #828282;
}

div#footer div{
    border-style: none;
}

div#footer p{
    display: inline-block;
}

div.vidCard{
    padding: 1em;
    cursor: pointer;
}

div.noPadding{
    padding:0;
}

div.vidCard:hover{
    background-color:#e6e6e6;
}

.vidCard img{
    /*-webkit-clip-path: circle(63.4% at 50% 50%);
    clip-path: circle(63.4% at 50% 50%); */
    border: 3px dashed #fa0;
    
}


.rangeslider-horizontal .rangeslider__fill, .rangeslider-horizontal .rangeslider__handle:after{
    background-color: #fa0 !important;
}

.rangeslider__handle{
    border-color: #fa0 !important;
}

#videoPlayer{
    widows: 100%;
}

#videoPlayerWrapper{
    border-top: none;
    border-left:none;
    border-right:none;
    padding:0;
}

#videoPlayerWrapper > h4{
    margin-bottom: 0;
    font-weight: bold;
}

.vidActress,.vidTags{
    padding:0 1% 0 1%;
    cursor: pointer;
}



#closeTag{
    padding-left: 5px;
    cursor: pointer;
}



h4{
    color: #022d10 !important;
    background: #55FF5D !important;
    text-shadow: 1px 1px 0 rgba(96, 113, 94, 0.7) !important;
    display:inline;
}

#videoPlayerWrapper b{
    color: #022d10 !important;
    background: #55FF5D !important;
    text-shadow: 1px 1px 0 rgba(96, 113, 94, 0.7) !important;
    display:inline;
}


#videoPlayerWrapper a{
    color: #022d10 !important;
    background: #55FF5D !important;
    text-shadow: 1px 1px 0 rgba(96, 113, 94, 0.7) !important;
    display:inline;
}


#videoPlayerWrapper p span.inline-data{
    padding:0 1% 0 1%;
    text-shadow: 1px 1px 0 rgba(96, 113, 94, 0.7) !important;
    display:inline;
}

#videoPlayerWrapper p span.inline-data.inline-data-date{
    color: #63d5fb  !important;
    background: #001eff  !important;
    text-shadow: 1px 1px 0 rgba(96, 113, 94, 0.7) !important;
    display:inline;
}

#videoPlayerWrapper p span.inline-data.inline-data-id{
    color: #00073b  !important;
    background: #00b8ff !important;
    text-shadow: 1px 1px 0 rgba(96, 113, 94, 0.7) !important;
    display:inline;
}





#videoPlayerWrapper a.vidTags{
    background: #00ff9f !important;
}

#videoPlayerWrapper a.vidActress{
    background: #d600ff !important;
    color: #ffeffd !important;
}


/* page slider colours */

.rangeslider__handle{
    border-color: #55FF5D !important;
}

.rangeslider-horizontal .rangeslider__fill, .rangeslider-horizontal .rangeslider__handle::after{
    background-color: #55FF5D !important;
}



/* slider button colours */
.sliderBtn button.pill{
    color: #55FF5D !important;
}

/* --------------- mobile responsive google drive video iframe size --------------- */
#videoPlayer{height:700px;}
@media all and (max-width:992px){#videoPlayer{height:472px;}}
@media all and (max-width:768px){#videoPlayer{height:300px;}}
@media all and (max-width:576px){#videoPlayer{height:270px;}}
@media all and (max-width:450px){#videoPlayer{height:195px;}}









/* ------------- dark theme ------------------ */
* {
  color: #c3c3c3 !important;
  background: #303030 !important;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.65) !important;
}

:link, :link * {color: #55FF5D !important}
:visited, :visited * {color: #FFE155 !important}

::selection {
  color: black !important;
  background: #55FF5D !important;
}

.vidCard img{
    border: 3px dashed #55FF5D !important;
}

#mainNav,#videoPlayerWrapper{
    border-bottom: solid #55FF5D !important;
}
